<%= form_with(model: posting) do |form| %>
  <% if posting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
        <% posting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :property_name, style: "display: block" %>
    <%= form.text_field :property_name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :rent_per_month, style: "display: block" %>
    <%= form.text_field :rent_per_month %>
  </div>

  <div>
    <%= form.label :service_charge, style: "display: block" %>
    <%= form.text_field :service_charge %>
  </div>

  <div>
    <%= form.label :additional_charges, style: "display: block" %>
    <%= form.text_field :additional_charges %>
  </div>

  <div>
    <%= form.label :security_deposit, style: "display: block" %>
    <%= form.text_field :security_deposit %>
  </div>

  <div>
    <%= form.label :property_size, style: "display: block" %>
    <%= form.text_field :property_size %>
  </div>

  <div>
    <%= form.label :property_type, style: "display: block" %>
    <%= form.text_field :property_type %>
  </div>

  <div>
    <%= form.label :rooms, style: "display: block" %>
    <%= form.text_field :rooms %>
  </div>

  <div>
    <%= form.label :other_details, style: "display: block" %>
    <%= form.text_field :other_details %>
  </div>

  <div>
    <%= form.label :inclusions, style: "display: block" %>
    <%= form.text_field :inclusions %>
  </div><br>

  <div> <!-- User Id (hidden) -->
    <%= form.number_field :user_id, id: :posting_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
