<div id="<%= dom_id posting %>">
  <p>
    <strong>Property name:</strong>
    <%= posting.property_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= posting.address %>
  </p>

  <p>
    <strong>Rent per month:</strong>
    <%= posting.rent_per_month %>
  </p>

  <p>
    <strong>Service charge:</strong>
    <%= posting.service_charge %>
  </p>

  <p>
    <strong>Additional charges:</strong>
    <%= posting.additional_charges %>
  </p>

  <p>
    <strong>Security deposit:</strong>
    <%= posting.security_deposit %>
  </p>

  <p>
    <strong>Property size:</strong>
    <%= posting.property_size %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= posting.property_type %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= posting.rooms %>
  </p>

  <p>
    <strong>Other details:</strong>
    <%= posting.other_details %>
  </p>

  <p>
    <strong>Inclusions:</strong>
    <%= posting.inclusions %>
  </p>

</div>
