<p style="color: green"><%= notice %></p>

<h1>Post Properties</h1>

<!-- Post Property -->
<%= link_to "New posting", new_posting_path %>

<!-- Posts Made by User -->
<br><h2>Properties You've Posted</h2>
<div id="postings">
  <% @postings.each do |posting| %>
  <div class="row container d-flex flex-wrap justify-content-around">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
            <%= render posting %>
            <!-- <p> Posted By: <%= posting.user_id %> -->
            <p>
              <%= link_to "Show this posting", posting %>
            </p>
            </div>
        </div>
    </div>
  </div>
  <% end %>
</div><br>
