<div class="row container d-flex flex-wrap justify-content-around">
  <div class="col-md-4 mb-3">
      <div class="card">
          <div class="card-body">

            <p style="color: green"><%= notice %></p>

            <%= render @posting %>

            <!-- Edit Post -->
            <div>
              <% if @posting == current_user %>
                <%= link_to "Edit this posting", edit_posting_path(@posting) %> |
                <%= button_to "Destroy this posting", @posting, method: :delete %>
              <% else %>
                <%= link_to "Back to postings", postings_path %>
                <!-- Add Renting Module -->
                
              <% end %>
            </div>

          </div>
      </div>
    </div>
</div>
