<p style="color: green"><%= notice %></p>

<%= render @posting %>

<p>
  <% if @post.image.attached? %>
    <p>
      <strong>Image:</strong>
      <br>
      <%= image_tag @post.image %>
    </p>
  <% end %>
</p>

<div>
  <%= link_to "Edit this posting", edit_posting_path(@posting) %> |
  <%= link_to "Back to postings", postings_path %>

  <%= button_to "Destroy this posting", @posting, method: :delete %>
</div>
