
  <div class="row container d-flex flex-wrap justify-content-around">
  
  <div class="col-md-4 mb-3"> 
      <div class="card">
          <div class="card-body">

<p style="color: green"><%= notice %></p>

<%= render @posting %>



<div>
  <%= link_to "Edit this posting", edit_posting_path(@posting) %> |
  <%= link_to "Back to postings", postings_path %>

  <%= button_to "Destroy this posting", @posting, method: :delete %>
</div>

</div>
</div>
</div>
</div>
