<div id="<%= dom_id renting %>">
  <p>
    <strong>Start date:</strong>
    <%= renting.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= renting.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= renting.user_id %>
  </p>

  <p>
    <strong>Posting:</strong>
    <%= renting.posting_id %>
  </p>

</div>
